@model ResMed.Models.Specializations

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <h4>Specjalizacje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edycja</a> |
    <a asp-action="Index" class="btn btn-primary">Powrót</a>
</div>
