@page
@model DoctorCart
@using ResMed.Utility;
@using ResMed.Models;
@{
    ViewData["Title"] = "Karta doktora";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/GoogleMapsAPI.css" />
</head>

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SpecializationId"></label>
                @{var specList = ViewData["SpecsList"] as List<SelectListItem>;} @*pobranie listy specjalizacji z ViewData i przypisanie do listy typu SelectListItem*@
                <select asp-for="Input.SpecializationId" class="form-control" asp-items="@(new SelectList(specList, "Value", "Text"))"></select> @*wyśiwetenie specjalizacji w liscie rozwijanej*@
            </div>

            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" id="pac-input" type="text" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LicenseNr"></label>
                <input asp-for="Input.LicenseNr" class="form-control" />
                <span asp-validation-for="Input.LicenseNr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.StartWorkHours"></label>
                <input asp-for="Input.StartWorkHours" class="form-control" />
                <span asp-validation-for="Input.StartWorkHours" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.EndWorkHours"></label>
                <input asp-for="Input.EndWorkHours" class="form-control" />
                <span asp-validation-for="Input.EndWorkHours" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <textarea style="height:180px; resize:none" asp-for="Input.Description" class="form-control"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>

            @*Google Places Api*@

            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="place-address"></span>
            </div>
            @*_________________*@

            <button type="submit" class="btn btn-default">Zapisz</button>
        </form>
    </div>
    <div class="col-md-6">
        <img src="~/images/DoctorCart/doctor-blank-profile.png" />
        <br /><br />
        <div id="map"></div> @*mapa pod zdj profilowym*@
    </div>


    <script src="~/js/GoogleMapsAPI.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsCfRtCAXWGgSvMo7uEv8XqfQCDnGSWas&libraries=places&callback=initMap"
            async defer></script>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
