@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane osobowe, które nam powierzyłeś. Ta strona pozwala na pobranie lub usunięcie tych danych.</p>
        <p>
            <strong>Usunięcie tych danych permanentnie usunie Twoje konto. Ta czynność nie może być cofnięta.</strong>
        </p>
        <div class="pull-right">
            <form asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-info" type="submit">Pobierz</button>
                <a asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}