@model ResMed.Models.Doctors

@{
    ViewData["Title"] = "ResMed - Zarezerwuj lekarza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/LandingPage.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatly.css" />
</head>
<h2></h2>
<h4></h4>
<div class="landing-body">
    <div class="row">
        <div class="col-md-4">
            <input />
            <input />
        </div>
        <div class="col-md-8">
            <img src="~/images/LandingPage/kc.png" />
        </div>
    </div>
</div>