@model ResMed.Models.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Znajdz lekarza - ResMed";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Znajdz lekarza - ResMed </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/GoogleMapsAPI.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>

    <script>
        $(window).scroll(function () {
            console.log($(window).scrollTop());
            var topDivHeight = $("#intro-content").height();
            var viewPortSize = $(window).height();

            var triggerAt = 1650;
            var triggerHeight = (topDivHeight - viewPortSize) + triggerAt;

            if ($(window).scrollTop() >= triggerHeight) {
                $('#main-content').css('visibility', 'visible').hide().fadeIn();
                $(this).off('scroll');
            }
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-fixed-top offset-bottom-0 padding-top-1">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <span class="fa fa-ambulance fa-lg"></span>&nbsp;
                    ResMed
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("AdminRole"))
                    {
                        <li><a asp-area="Admin" asp-controller="Doctors" asp-action="Index">Lista doktorów</a></li>
                        <li><a asp-area="Admin" asp-controller="Specializations" asp-action="Index">Lista specjalizacji</a></li>
                    }
                    @if (User.IsInRole("PatientRole"))
                    {
                        <li><a asp-area="Patient" asp-controller="MyVisits" asp-action="Index">Moje wizyty</a></li>
                    }
                    @if (User.IsInRole("DoctorRole"))
                    {
                        <li><a asp-area="Doctor" asp-controller="MyPatients" asp-action="Index">Moje wizyty</a></li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <section id="intro-content">
        <div class="container text-xs-center">
            <div class="row">
                <h1 class="col-md-12 offset-top-12 h2">
                    Znajdź lekarza i umów wizytę
                </h1>
                <h2 class="col-md-12 h4">
                    Szukaj wśród 500 000 lekarzy.
                </h2>

                <div class="col-md-8">
                    <div id="intro-search">
                        <form id="search" class="intro-search" method="post">
                            <div class="row">
                                <div class="col-sm-5 col-xs-12 spec-field">
                                    <input type="text" class="form-control search-field" id="autocomplete" name="searchString" placeholder="miasto">
                                    <div class="offset-xs-bottom-1"></div>
                                </div>
                                <div class="col-sm-5 col-xs-12 town-field">
                                    @*<input type="text" class="form-control search-field" placeholder="specjalizacja">*@
                                    @*<input type="text" class="form-control input-lg" name="spec" placeholder="nazwisko lub specjalizacja">*@
                                    @*<select asp-for="@Model.selectedSpec" name="spec" asp-items="@Model.SpecList" class="form-control input-lg"></select>*@
                                    @Html.DropDownList("spec", Model.SpecList, "Wybierz specjalizację", new { @class = "form-control search-field" })
                                    <div class="offset-xs-bottom-1"></div>
                                </div>
                                <div class="col-sm-2 col-xs-12 button-field">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block search-button" title="Szukaj"><i class="fa fa-search"></i> Szukaj</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="frequent-specs">
            <div class="container">
                <ul class="list-inline">
                    <li>
                        <a href="wp.pl" title="Ginekolog">Ginekolog</a>
                    </li>
                </ul>
            </div>
        </div>*@
    </section>

    <section id="main-content" class="offset-top-6">
        <div class="container">
            <div class="row offset-bottom-4">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-2 col-sm-4"><i class="fa fa-search-location fa-9x icon32"></i></div>
                <div class="col-md-6 col-sm-6">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <h2 class="offset-left-1 offset-bottom-0 offset-right-1">Wyszukaj specjalistę</h2>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-left-1 offset-top-1 offset-bottom-3 offset-xs-0">
                            Wyszukaj swojego specjalistę spośród ponad 500&nbsp;000 lekarzy.<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="row offset-bottom-4">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-6 col-sm-7">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <h2 class="offset-left-1 offset-bottom-0 offset-right-1">Wybierz termin</h2>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-left-1 offset-top-1 offset-bottom-3 offset-xs-0">
                            Wybierz dogodną datę i godzinę.<br /> Wybieraj spośród milionów wolnych terminów.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3"><i class="fa fa-calendar-alt fa-9x icon32"></i></div>
            </div>
            <div class="row offset-bottom-4">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-2 col-sm-4"><i class="fa fa-file-medical-alt fa-9x icon32"></i></div>
                <div class="col-md-6 col-sm-6">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <h2 class="offset-left-1 offset-bottom-0 offset-right-1">Zarezerwuj wizytę</h2>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-left-1 offset-top-1 offset-bottom-3 offset-xs-0">
                            Podaj i potwierdź swoje dane aby dokonać rezerwacji.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row offset-bottom-4">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-6 col-sm-7">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <h2 class="offset-left-1 offset-bottom-0 offset-right-1">Przyjdź na wizytę</h2>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-left-1 offset-top-1 offset-bottom-3 offset-xs-0">
                            W ustalonym terminie pryjdź na wizytę do wybranego lekarza.
                    </div>
                </div>
                <div class="col-md-2 col-sm-3"><i class="fa fa-user-md fa-9x icon32"></i></div>
            </div>
        </div>
    </section>

    <section id="main-content-small" class="padding-top-3 padding-xs-top-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 offset-xs-bottom-2 media-vertical offset-top-0">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <i class="fa fa-search-location fa-2x icon32"></i>
                            <h3 class="h3 offset-left-1 offset-bottom-0 offset-right-1">Wyszukaj specjalistę</h3>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-top-1 offset-bottom-3 offset-xs-0">Wyszukaj swojego specjalistę spośród ponad 500&nbsp;000 lekarzy.</p>
                    </div>
                </div>

                <div class="col-sm-3 offset-xs-bottom-2 media-vertical offset-top-0">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <i class="fa fa-calendar-alt fa-2x icon32"></i>
                            <h3 class="h3 offset-left-1 offset-bottom-0 offset-right-1">Wybierz termin</h3>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-top-1 offset-bottom-3 offset-xs-0">Wybierz dogodną datę i godzinę. Wybieraj spośród milionów wolnych terminów.</p>
                    </div>
                </div>

                <div class="col-sm-3 offset-xs-bottom-2 media-vertical offset-top-0">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <i class="fa fa-file-medical-alt fa-2x icon32"></i>
                            <h3 class="h3 offset-left-1 offset-bottom-0 offset-right-1">Zarezerwuj wizytę</h3>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-top-1 offset-bottom-3 offset-xs-0">Podaj i potwierdź swoje dane aby dokonać rezerwacji.</p>
                    </div>
                </div>

                <div class="col-sm-3 offset-xs-bottom-2 media-vertical offset-top-0">
                    <div class="media-left">
                        <div class="display-flex-inline">
                            <i class="fa fa-user-md fa-2x icon32"></i>
                            <h3 class="h3 offset-left-1 offset-bottom-0 offset-right-1">Przyjdź na wizytę</h3>
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text-muted offset-top-1 offset-bottom-3 offset-xs-0">W ustalonym terminie pryjdź na wizytę do wybranego lekarza.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer id="footer" class="footer text-xs-center padding-top-3 padding-bottom-3">

        <div class="container">
            <div class="row">
                <aside class="col-md-3 col-sm-3">
                    <address>
                        <p class="h4"><span class="fa fa-ambulance fa-lg"></span> MedRes</p>
                        ul. Janusza Nosacza 6/9<br />
                        00-505 Wenecja, Polska
                        <br><br />NIP: 1111111111<br />
                        REGON: 111111111<br />
                    </address>
                </aside>
                <aside class="col-md-3 col-sm-3">
                    <div class="h4">MedRes</div>
                    <ul class="list-unstyled">
                        <li><a href="">Prywatność</a></li>
                        <li><a href="">Prywatność</a></li>
                        <li><a href="">Prywatność</a></li>
                        <li><a href="">Prywatność</a></li>
                        <li><a href="">Prywatność</a></li>
                        <li><a href="">Prywatność</a></li>
                    </ul>
                </aside>

                <aside class="col-md-3 col-sm-3">
                    <div class="h4">Strefa pacjenta</div>
                    <ul class="list-unstyled">
                        <li><a href="">Placówki medyczne</a></li>
                        <li><a href="">Placówki medyczne</a></li>
                        <li><a href="">Placówki medyczne</a></li>
                        <li><a href="">Placówki medyczne</a></li>
                        <li><a href="">Placówki medyczne</a></li>
                        <li><a href="">Placówki medyczne</a></li>
                    </ul>
                </aside>

                <aside class="col-md-3 col-sm-3">
                    <div class="h4">Strefa lekarza</div>
                    <ul class="list-unstyled">
                        <li><a href="">Dla lekarzy</a></li>
                        <li><a href="">Dla lekarzy</a></li>
                        <li><a href="">Dla lekarzy</a></li>
                        <li><a href="">Dla lekarzy</a></li>
                        <li><a href="">Dla lekarzy</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </footer>

    <div class="container">
        <div class="row">
            <p class="text-center offset-top-2 offset-bottom-2">MedRes &copy; 2018-2019</p>
        </div>
        </div>

</body>

<script src="~/js/GoogleAutocomplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsCfRtCAXWGgSvMo7uEv8XqfQCDnGSWas&libraries=places&callback=initAutocomplete"
        async defer>
</script>