
@{
    ViewBag.Title = "Znajdz lekarza - ResMed";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Znajdz lekarza - ResMed </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/GoogleMapsAPI.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>

<body>
    <div class="navbar bg-transparent">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ResMed", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Domowa", "Index", "Home")</li>
                    <li><partial name="_LoginPartial" /></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="h2">Znajdź lekarza i umów wizytę</div>
            <div class="h4">Szukaj wśród 500 000 lekarzy.</div>

            <form class="form-inline" method="post">
                <input type="text" class="form-control input-lg" id="autocomplete" name="searchString" placeholder="miasto">
                <input type="text" class="form-control input-lg" placeholder="nazwisko lub specjalizacja">
                <button type="submit" class="btn btn-info btn-lg">
                    <span class="fa fa-search"></span> Szukaj
                </button>
            </form>
        </div>

        <div class="col-md-4 img-responsive pull-right">
            <img src="~/images/LandingPage/kc.png" alt="Doctor">
        </div>
    </div>
</body>




<script src="~/js/GoogleAutocomplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsCfRtCAXWGgSvMo7uEv8XqfQCDnGSWas&libraries=places&callback=initAutocomplete"
        async defer>
</script>












