@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie założenia konta";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu e-mail.
        Możesz się teraz zalogować.
    </p>
    <a href="~/Identity/Account/Manage/" class="btn btn-success">Zaloguj się</a>
</div>
