@page
@model ConfirmYourEmailModel
@{
    ViewData["Title"] = "Dziękujemy za rejestrację!";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Przejdź do swojej skrzynki mailowej aby potwierdzić założenie konta.
    </p>
</div>
